body {
    background: #eee;
}
.topnav {
    /* width: 100%;*/
    padding-right: 2%;
    overflow: hidden;
    font-weight: 600;
    border-bottom: 2px solid gray;
    padding: 10px 0;
}

.topnav a {
    /* position: relative;*/
    /* display: inline-block;*/
    /* text-align: center;*/

    padding: 14px 16px;
    margin: 0 .5%;
    text-decoration: none;
    font-size: 22px;
    color: black;
    letter-spacing: .5px;
}

.menu-items a:hover {
    color: blue;
}

.menu-items {
    width: 25%;
    float: right;
}

h1 {
/*    color: blue;*/
    text-align: center;
    font-size: 45px;
    margin-top: 3%;
    text-shadow: 2px 2px #ddd;
}

h2 {
    text-align: center;
    margin: 8% 0 0;
}

iframe {
    border: 4px solid gray;
    display: block;
    margin: 4% auto 0;
}

.paragraphs{
    margin: 4% 5% 0;
    text-align: justify;
/*    text-indent: 10px;*/
    line-height: 1.2rem;
}

.first-para {
    margin-bottom: 3%;
}

.photo-info {
    text-align: center;
}
table {
    width: 80%;
    border: 4px solid gray;
    margin: 4% auto 2%;
}

td {
    text-align: center;
}

img {
     width: 100%;
}
